<%- include ('../../partials/header.ejs'); %>
    <%- include ('../../partials/navbar.ejs');%>



        <div class="container">
            <div class="card mt-4">
                <div class="card-header">
                    <h2 class="">Categorias</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="/categories/save">


                        <hr>
                        <input class="form-control" type="text" name="title" placeholder="Defina o Títula da Categoria">
                        <button class="btn-success btn mt-2">Cadastrar</button>
                </div>

                </form>
            </div>
        </div>

        <%- include ('../../partials/footer.ejs'); %>