<%- include ('../../partials/header.ejs'); %>
<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h2>Cadastro:</h2>
        </div>

        <div class="card-body">
            <form method="POST" action="/users/create">
                <input class="form-control" placeholder="E-mail" type="email" name="email">
                <input class="form-control mt-2" placeholder="senha" type="password" name="password">
                <button type="submit" class="btn btn-success btn-block mt-4">Criar</button>
                <%if(error) {%>
                    <p class="text-danger mt-2">Usuário já existe!</p>
                <%}%>
            </form>
        </div>
    </div>
</div>
<%- include ('../../partials/footer.ejs'); %>